<header class="header select-none">
    <a class="logo" title="{{site.title}}" href="{{site.context}}/">
        <img src="{{site.context}}/static/img/logo.jpg">
    </a>
    <a class="title" href="{{site.context}}/">{{site.title}}</a>
    <nav class="menu">
        <a href="{{site.context}}/">首页</a>
        <a href="{{site.context}}/pages/categories.html">文章分类</a>
        <a href="{{site.context}}/pages/search.html">搜索</a>
        <a href="{{site.context}}/pages/links.html">友情链接</a>
        <a href="{{site.context}}/pages/about.html">关于我</a>
    </nav>
    <span class="icon"></span>
</header>
